.todo-list
	list-style none

.suggest-tech
	background-color #be9b7b
	color black
	height 2.8em
	width 90%
	margin 0 auto
	text-align center
	border none
	font-size 1em
	font-weight bold

.submit-tech
	background-color #fff4e6
	color black
	border-radius 8%
	font-size .85em
	margin 5px 0 0 3px
	padding 5px
	
::-webkit-input-placeholder {
    color black
}

:-moz-placeholder {
   color black
   opacity .65
}

::-moz-placeholder {
   color black
   opacity .65
}

:-ms-input-placeholder {
   color black
   opacity .65
}
