.todo-list
	list-style none
	float left
	padding 0
	padding-right 90px
	border-right 1px solid rgb(225,225,225)
	width 40%
	
.current-stack
	list-style none
	float right
	text-align right
	padding 0
	margin 0
	width 40%

.suggest-tech
	background-color #be9b7b
	color black
	height 2.8em
	width 90%
	margin 0 auto
	text-align center
	border none
	border-radius 2%
	font-size 1em
	font-weight bold

.submit-tech
	background-color #fff4e6
	color black
	border-radius 8%
	font-size .85em
	margin 5px 0 0 3px
	padding 5px
	
::-webkit-input-placeholder {
    color black
    opacity .55
}

:-moz-placeholder {
   color black
   opacity .55
}

::-moz-placeholder {
   color black
   opacity .55
}

:-ms-input-placeholder {
   color black
   opacity .55
}
