<div class="wrapper">
	<div class="img-container">
		<img src="./public/img/me.jpg" />
	</div>

	<div class="about-me">

		<h3>About me!</h3>

		<p>
			In my previous work and education I always felt the traditional paths of learning were not for me. I am an extremely hands-on type of person which is not the type of learning normal schools support. Thanks to my time at DevMountain I gained the skills necessary to build upon. Now that I have a firm foundation to build on, I am constantly striving to expand my knowledge and web development skill set.
		</p>

		<p>
			After succesfully graduating early from DevMountain I was contracted as a mentor to develop internally used web applications and assist in teaching new Web Development students. My current goal is to find a company that I can grow alongside with while creating innovative applications.
		</p>

	</div>
</div>