.todo-list {
  list-style: none;
}
.suggest-tech {
  background-color: #be9b7b;
  color: #000;
  height: 2.8em;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  border: none;
  font-size: 1em;
  font-weight: bold;
}
.submit-tech {
  background-color: #fff4e6;
  color: #000;
  border-radius: 8%;
  font-size: 0.85em;
  margin: 5px 0 0 3px;
  padding: 5px;
}
::-webkit-input-placeholder {
  color: #000;
}
:-moz-placeholder {
  color: #000;
  opacity: 0.65;
}
::-moz-placeholder {
  color: #000;
  opacity: 0.65;
}
:-ms-input-placeholder {
  color: #000;
  opacity: 0.65;
}
